[tool.poetry]
name = "HealthChain"
version = "0.1.0"
description = "Remarkably simple LLM prototyping and testing in healthcare context."
authors = ["Adam Kells <adamjkells93@gmail.com>", "Jennifer Jiang-Kells <jenniferjiangkells@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
mkdocs = "^1.5.3"
pydantic = "^2.7.1"
requests = "^2.31.0"
colorama = "^0.4.6"
faker = "^25.1.0"
fastapi = "^0.111.0"
termcolor = "^2.4.0"
streamlit = "^1.34.0"
mkdocs-material = "^9.5.24"

[tool.poetry.group.dev.dependencies]
ruff = "^0.4.2"
pytest = "^8.2.0"
pre-commit = "^3.7.0"
pytest-anyio = "^0.0.0"
trio = "^0.25.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
